server:
  port: 8083
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
    enabled: false

spring:
  application:
    name: survey-service
  datasource:
    url:
    username:
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  cache:
    type: redis
  redis:
    host:
    port: 6379

  jpa:
    hibernate:
      ddl-auto: update  # 첫 배포 시 'create', 그 후에는 'update' 권장
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        show_sql: true
    open-in-view: false

  sql:
    init:
      mode: never

  jwt:
    issuer: dsada
    secret: your-very-strong-secret-key-which-is-at-least-32-characters-long

survey:
  base-url: http://buildmystudy.com/api/surveys

feign:
  user-service-url: http://buildmystudy.com

resilience4j:
  circuitbreaker:
    instances:
      userService:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
  retry:
    instances:
      userService:
        maxAttempts: 3          # 최대 재시도 횟수
        waitDuration: 1s        # 재시도 간 대기 시
  timelimiter:
    instances:
      userService:
        timeoutDuration: 2s     # 최대 대기 시간

management:
  tracing:
    sampling:
      probability: 1.0
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
  management:
    health:
      db:
        enabled: false

logging:
  level:
    org.springframework.data.redis.cache: DEBUG
    org.springframework.cache.redis: TRACE