apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Values.spring.labels }}-deployment"
  labels:
    app: "{{ .Values.spring.labels }}"

spec:
  replicas: 3
  selector:
    matchLabels:
      app: "{{ .Values.spring.labels }}"
  template:
    metadata:
      labels:
        app: "{{ .Values.spring.labels }}"
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.spring.service.survey.port }}"
        prometheus.io/path: "/actuator/prometheus"
        rollme: {{ randAlphaNum 5 | quote }}
    spec:
      terminationGracePeriodSeconds: 60
      nodeSelector:
        role: app
      containers:
        - name: "{{ .Values.spring.labels }}"
          image: "{{ .Values.spring.image.repository }}:{{ .Values.spring.image.tag }}"
          imagePullPolicy: Always
          # Ingress 라우팅 제외될 때까지 시간 벌어주기
          lifecycle:
            preStop:
              exec:
                command: [ "/bin/sh", "-c", "sleep 20" ]

          env:
            - name: SPRING_DATASOURCE_URL
              value: {{ .Values.spring.datasource.url | quote }}
            - name: SPRING_DATASOURCE_USERNAME
              value: {{ .Values.spring.datasource.username | quote }}
            - name: SPRING_DATASOURCE_PASSWORD
              value: {{ .Values.spring.datasource.password | quote }}
            - name: SPRING_REDIS_HOST
              value: {{ .Values.spring.redis.host | quote }}
            - name: SPRING_REDIS_PORT
              value: {{ .Values.spring.redis.port | default 6379 | quote }}
            - name: SURVEY_BASEURL
              value: {{ .Values.survey.baseUrl | quote }}

          ports:
            - containerPort: {{ .Values.spring.service.survey.port }}
          resources:
            requests:
              cpu: "400m"
              memory: "800Mi"
            limits:
              cpu: "800m"
              memory: "1600Mi"

          livenessProbe:
            httpGet:
              path: /api/health
              port: {{ .Values.spring.service.survey.port }}
            initialDelaySeconds: 30
            periodSeconds: 15
            failureThreshold: 3
            successThreshold: 1

          readinessProbe:
            httpGet:
              path: /api/health
              port: {{ .Values.spring.service.survey.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
            successThreshold: 1
